<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <div class="mt-3 mb-3">
                This site is <a href="https://github.com/chardmd/onepagetweets" target="_blank">Open Source</a>! Created
                by <a href="https://twitter.com/iamchardmd" target="_blank">@iamchardmd</a>
            </div>
            <div class="mt-3">
                <span>&nbsp;&nbsp;</span>
                <a href="/policy/terms">Terms</a>
                <span>&nbsp;&nbsp;</span>
                <a href="/policy/privacy">Privacy</a>
                <span>&nbsp;&nbsp;</span>
                <a href="/policy/contact">Contact</a>
            </div>
        </div>
    </div>
</footer>
<!-- End of Footer -->
