/** draft css **/
.custom--draft {
    .custom--editor {
        height: 450px;
        width: 100%;
    }

    .ql-container {
        font-size: 18px;
    }

    /* picker */
    .color-picker {
        background: rgba(255, 255, 255, 0.75);
        padding: 10px;
        border: 1px solid rgba(203, 203, 203, 0.6);
        border-radius: 2px;
        text-align: center;
    }

    .color-picker>div {
        width: 40px;
        display: inline-block;
        height: 40px;
        margin: 5px;
        border-radius: 100%;
        opacity: 0.7;
    }

    .picker-wrapper {
        padding: 20px;
    }

    .color-picker>div:hover {
        opacity: 1;
    }
}

/** preview css **/
.custom--preview {
    .ql-editor {
        min-height: 500px !important;
        padding: 15px !important;
        white-space: normal !important;
        background-color: #eff6fb;
        height: 600px !important;
        overflow: hidden !important;
    }

}

/** success css **/
.custom--success {
    .custom--txtCopy {
        font-size: 26px;
    }

    .custom--loading {
        display: flex;
        justify-content: center;
        margin: 2rem;
    }

    .custom--loading::after {
        content: "";
        width: 70px;
        height: 70px;
        border: 10px solid #dddddd;
        border-top-color: #1DA1F2;
        /* border-bottom-color: ##1DA1F2;  -- optional */
        border-radius: 50%;
        /* animation: spin 0.6s 0.1s linear infinite both; -- optional */
        animation: spin 0.8s 0.1s ease-in-out infinite both;
    }
}