{{#section 'head'}}
    <link href="/js/lib/quill.snow.css" rel="stylesheet">
{{/section}}
{{#section 'scripts'}}
    <script src="/js/lib/quill.min.js"></script>
    <script type="application/javascript" defer src="/js/pages/editor.js"></script>
{{/section}}
<div class="custom--draft">
    <ul class="nav nav-pills nav-justified form-tabs mb-4">
        <li class="nav-item">
            <a href="#" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 active">
                <i class="mdi fas fa-info-circle mr-1"></i>
                <span class="font-weight-bold">Editor</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 disabled">
                <i class="mdi fas fa-eye mr-1"></i>
                <span class="font-weight-bold">Preview</span>
            </a>
        </li>
    </ul>
    <br />
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <div>
                <div class="mb-4 font-weight-bold d-flex justify-content-between">
                    <div>What's Happening</div>
                    <div>
                        <a href="javascript:void(0);" id="discardButton" class="btn btn-block btn-outline-danger"
                            role="button"><i class="far fa-trash-alt"></i>&nbsp;Discard</a>
                    </div>
                </div>
            </div>
            <!-- display flash messages -->
            {{> flash}}
            <!-- display flash messages -->
            <input type="hidden" id="csrf" name="_csrf" value="{{_csrf}}" />
            <input type="hidden" id="slugName" name="slugName" value="{{slugName}}" />
            <input type="hidden" id="projectId" name="projectId" value="{{projectId}}" />
            <div id="editor" class="custom--editor">{{{content}}}</div>
            <div class="mt-3">
                <button id="buttonNext" class="btn btn-lg btn-primary float-right" type="submit">
                    <span id="spinner" class="d-none spinner-border spinner-border-sm mr-1" role="status"
                        aria-hidden="true"></span>
                    <span class="text">See Preview</span>
                </button>
            </div>
        </div>
        <div class="col-lg-3 m-auto">
            <h1 class="lead font-weight-normal text-center">Select a Background</h1>
            <div class="color-picker">
                <div data-col="#1abc9c" style="background-color: #1abc9c"></div>
                <div data-col="#2ecc71" style="background-color: #2ecc71"></div>
                <div data-col="#3498db" style="background-color: #3498db"></div>
                <div data-col="#9b59b6" style="background-color: #9b59b6"></div>
                <div data-col="#34495e" style="background-color: #34495e"></div>
                <div data-col="#16a085" style="background-color: #16a085"></div>
                <div data-col="#27ae60" style="background-color: #27ae60"></div>
                <div data-col="#2980b9" style="background-color: #2980b9"></div>
                <div data-col="#8e44ad" style="background-color: #8e44ad"></div>
                <div data-col="#2c3e50" style="background-color: #2c3e50"></div>
                <div data-col="#f1c40f" style="background-color: #f1c40f"></div>
                <div data-col="#e67e22" style="background-color: #e67e22"></div>
                <div data-col="#e74c3c" style="background-color: #e74c3c"></div>
                <div data-col="#ecf0f1" style="background-color: #ecf0f1"></div>
                <div data-col="#95a5a6" style="background-color: #95a5a6"></div>
                <div data-col="#f39c12" style="background-color: #f39c12"></div>
                <div data-col="#d35400" style="background-color: #d35400"></div>
                <div data-col="#c0392b" style="background-color: #c0392b"></div>
                <div data-col="#bdc3c7" style="background-color: #bdc3c7"></div>
                <div data-col="#7f8c8d" style="background-color: #7f8c8d"></div>
            </div>
        </div>
    </div>
</div>