{{#section 'scripts'}}
    <script type="application/javascript" src="/js/lib/tinymce.min.js"></script>
    <script type="application/javascript" defer src="/js/pages/editor.js"></script>
{{/section}}
<div class="custom--draft">
    <ul class="nav nav-pills nav-justified form-tabs mb-4">
        <li class="nav-item">
            <a href="#" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 active">
                <i class="mdi fas fa-info-circle mr-1"></i>
                <span class="font-weight-bold">Editor</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 disabled">
                <i class="mdi fas fa-eye mr-1"></i>
                <span class="font-weight-bold">Preview</span>
            </a>
        </li>
    </ul>
    <br />
    <div class="row">
        <div class="col-lg mx-auto">
            <!-- display flash messages -->
            {{> flash}}
            <!-- display flash messages -->
            <div class="card border-0">
                <div class="card-body">
                    <form id="editorForm" class="form" method="POST">
                        <input type="hidden" id="csrf" name="_csrf" value="{{_csrf}}" />
                        <input type="hidden" id="slugName" name="slugName" value="{{slugName}}" />
                        <input type="hidden" id="projectId" name="projectId" value="{{projectId}}" />
                        <div class="form-group">
                            <p class="mb-4 font-weight-bold">
                                What's Happening
                            </p>
                            <textarea id="summary" class="form-control" name="summary">{{summary}}</textarea>
                        </div>
                        <br />
                        <div class="form-group">
                            <button id="buttonNext" class="btn btn-lg btn-primary float-right mr-2" type="submit">
                                <span id="spinner" class="d-none spinner-border spinner-border-sm mr-1" role="status"
                                    aria-hidden="true"></span>
                                <span class="text">Next</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>