.home-page {
    .limit-text {
        line-height: 1.5em;
        min-height: 3em;
        max-height: 3em;
        overflow: hidden;
    }
}

.page-preview {

    .row {
        .col-sm {
            padding: 0;
        }
    }

    #btnPreview {
        text-decoration: none;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        background-color: #eff6fb;
        min-height: 500px;

        @media (max-width: 800px) {
            padding: 0;
            width: 100%;
            text-align: center;
        }
    }

    .about {
        color: hsla(0, 0%, 0%, 0.8);
        font-family: sans-serif;
        font-weight: normal;
        word-wrap: break-word;
        font-kerning: normal;
        padding: 0;
        margin: 0 0 0.5rem 0;
    }

    #txtCopy {
        font-size: 26px;
    }
}