// Scaffolding
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 110px;
    /** https://stackoverflow.com/questions/14735274/bootstrap-css-hides-portion-of-container-below-navbar-navbar-fixed-top **/
    margin-bottom: 75px;
    font-size: 18px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    /* Set the fixed height of the footer here */
    line-height: 45px;
}