input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 1px solid #4C84FF;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

input.form-control-plaintext:focus {
    outline: 0;
}
