{{#section 'scripts'}}
    <script src="https://js.stripe.com/v3/" defer></script>
    <script src="/js/pages/billing-form.js" defer></script>
{{/section}}
<div class="page billing-page">
    <!-- display flash messages -->
    {{> flash}}
    <!-- display flash messages -->
    <input type="hidden" id="csrf" name="_csrf" value="{{_csrf}}" />
    <input type="hidden" id="stripePublicKey" name="stripePublicKey" value="{{stripePublicKey}}" />
    <br />
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <!-- Pricing Title-->
            <div class="text-center">
                <h3 class="mb-2">Our Simple Pricing</h3>
                <p class="text-muted w-50 m-auto">
                    Subscribe today and you’ll get access to all exclusive features.
                </p>
            </div>
            <br />
            <div class="text-center">
                <img src="/images/blooming.svg" width="300px" />
                <br /> <br />
                <h1 class="w-50 m-auto mb-2">
                    $12&nbsp;<del style="color: red;">
                        $19
                    </del>
                </h1>
                <button id="buttonPayment" class="btn btn-success btn-lg mt-4 mb-2 btn-rounded">
                    <span id="spinner" class="d-none spinner-border spinner-border-sm mr-1" role="status"
                        aria-hidden="true"></span>
                    <span class="text">Unlock Now</span>
                </button>
            </div>
            <!-- end row -->
        </div> <!-- end col-->
    </div>
    <div class="row pt-5">
        <div class="col-lg-5 offset-lg-1">
            <div>
                <h4 class="text-primary">Unlock all messages and offers</h4>
                <p class="mb-4">Full access. No limits. Reply to all messages, read all offers, and notify potential
                    buyers for this project.
                </p>
            </div>
        </div>
        <div class="col-lg-5">
            <div>
                <h4 class="text-primary">Suspend published projects</h4>
                <p class="mb-4">Easily make your project private, limit communication.</p>
            </div>
        </div>
    </div>
</div>