{{#section 'scripts'}}
    <script src="https://js.stripe.com/v3/" defer></script>
    <script src="/js/pages/billing-form.js" defer></script>
{{/section}}
<div class="page billing-page">
    <!-- display flash messages -->
    {{> flash}}
    <!-- display flash messages -->
    <input type="hidden" id="csrf" name="_csrf" value="{{_csrf}}" />
    <input type="hidden" id="stripePublicKey" name="stripePublicKey" value="{{stripePublicKey}}" />
    <br />
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <!-- Pricing Title-->
            <div class="text-center">
                <h3 class="mb-4">Our Simple Pricing</h3>
                <p class="w-50 m-auto">
                    Post unlimited number of personalized tweets.
                </p>
                <p>No commitments, cancel at any time.</p>
            </div>
            <br />
            <div class="text-center">
                <img src="/images/join.svg" width="300px" />
                <br /> <br />
                <p>For only</p>
                <h1>
                    $ 2 / month
                    </del>
                </h1>
                <p class="mt-3">(yup, just $2 per <i>month</i>)</p>
                <button id="buttonPayment" class="btn btn-primary btn-lg mt-4 mb-2 btn-rounded">
                    <span id="spinner" class="d-none spinner-border spinner-border-sm mr-1" role="status"
                        aria-hidden="true"></span>
                    <span class="text">Subscribe Now</span>
                </button>
            </div>
            <!-- end row -->
        </div> <!-- end col-->
    </div>
</div>