<div class="page">
    <br>
    <!-- display flash messages -->
    {{> flash}}
    <!-- display flash messages -->
    <div class="text-center">
        <div class="row">
            <div class="col-12">
                <img src="/images/group.svg" alt="submitted" width="300px" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <br />
                    <h3 class="mt-0 text-secondary">Congratulations! Your payment succeeded.</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center text-dark">
                    <p class="text-dark mb-0">All exclusive features is now available to
                        <a href="/projects">
                            <span class="badge badge-info">
                                {{projectName}}</span>
                    </p>
                    <br />
                    <a href="/projects">
                        <h3>
                            &larr; Back to My Projects / Offers
                        </h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
