/** home css **/
.custom--home {
    .custom--loading {
        display: flex;
        justify-content: center;
        margin: 2rem;
    }

    .custom--loading::after {
        content: "";
        width: 70px;
        height: 70px;
        border: 10px solid #dddddd;
        border-top-color: #1DA1F2;
        /* border-bottom-color: ##1DA1F2;  -- optional */
        border-radius: 50%;
        /* animation: spin 0.6s 0.1s linear infinite both; -- optional */
        animation: spin 0.8s 0.1s ease-in-out infinite both;
    }

    .custom--masthead {
        position: relative;
        padding: 3rem 15px;
        background: linear-gradient(to right bottom, #f7f5fb 50%, #fff 50%);
    }

}

/** landing css **/
.custom--landing {
    .custom--h1 {
        color: $gray-900;
    }

    .custom--landingLogo {
        text-decoration: none;
        color: $black;
    }

    .custom--h3 {
        letter-spacing: 1px;
        color: $black;
    }

    .custom--twitter {
        height: 65vh;
        overflow-y: scroll;
        text-align: center;
    }

    .custom--badge {
        padding: 5px 12px;
        font-size: 1rem;
        margin: 5px 2px 2px 2px;
    }

    .custom--loading {
        display: flex;
        justify-content: center;
        margin: 2rem;
    }

    .custom--loading::after {
        content: "";
        width: 70px;
        height: 70px;
        border: 10px solid #dddddd;
        border-top-color: #1DA1F2;
        /* border-bottom-color: ##1DA1F2;  -- optional */
        border-radius: 50%;
        /* animation: spin 0.6s 0.1s linear infinite both; -- optional */
        animation: spin 0.8s 0.1s ease-in-out infinite both;
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}