/** Home page css **/
.home-page {
    .buttonLink a {
        text-decoration: none;
    }

    .buttonLink:hover,
    :focus {
        a {
            color: white;
        }
    }

    .badge {
        font-size: 14px;
    }
}

.landing-page {

    h1 {
        color: $gray-900;
    }

    .landingLogo {
        text-decoration: none;
        color: $black;
    }

    h3 {
        letter-spacing: 1px;
        color: $black;
    }

    .text-desc {
        color: $gray-700;
    }

    .twitter {
        height: 60vh;
        overflow-y: scroll;
        text-align: center;
    }

    .badge {
        padding: 5px 12px;
        font-size: 0.8125rem;
        margin: 5px 2px 2px 2px;
    }
}