<div class="page page-404">
    <div class="row">
        <div class="d-flex w-100 text-center flex-column">
            <div class="m-4">
                <img src="/images/404.png" alt="not found" />
            </div>
            <h2 class="text-primary">This account doesn’t exist</h2>
            <p>Try searching for another.</p>
        </div>
    </div>
</div>
