<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="text-muted text-center">
            <span>&nbsp;&nbsp;</span>
            <a href="/policy/terms">Terms</a>
            <span>&nbsp;&nbsp;</span>
            <a href="/policy/privacy">Privacy</a>
            <span>&nbsp;&nbsp;</span>
            <a href="/policy/contact">Contact</a>
        </div>
    </div>
</footer>
<!-- End of Footer -->