{{#section 'head'}}
    <link href="/js/lib/tagify.css" rel="stylesheet">
{{/section}}
{{#section 'scripts'}}
    <script type="application/javascript" src="/js/lib/tagify.min.js" defer></script>
    <script type="application/javascript" defer src="/js/pages/about.js"></script>
{{/section}}
<div class="page">
    <ul class="nav nav-pills nav-justified form-tabs mb-4">
        <li class="nav-item">
            <a href="#" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 active">
                <i class="mdi fas fa-info-circle mr-1"></i>
                <span class="d-none d-sm-inline">About</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" data-toggle="tab" class="nav-link rounded-0 pt-2 pb-2 disabled">
                <i class="mdi fas fa-eye mr-1"></i>
                <span class="d-none d-sm-inline">Preview</span>
            </a>
        </li>
    </ul>
    <br />
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- display flash messages -->
            {{> flash}}
            <!-- display flash messages -->
            <input type="hidden" id="csrf" name="_csrf" value="{{_csrf}}" />
            <div class="card border-0">
                <div class="card-body">
                    <form id="aboutForm" class="form" method="POST">
                        <input type="hidden" id="slugName" name="slugName" value="{{slugName}}" />
                        <input type="hidden" id="projectId" name="projectId" value="{{projectId}}" />
                        <div class="form-group">
                            <label for="summary"><span class="text-dark">What's Happening</span></label>
                            <textarea id="summary" class="form-control" name="summary" type="text"
                                data-parsley-required-message="Please enter a short summary about yourself" required
                                rows="10">{{summary}}</textarea>
                        </div>
                        <br />
                        <div class="form-group">
                            <button id="buttonNext" class="btn btn-primary float-right" type="submit">
                                <span id="spinner" class="d-none spinner-border spinner-border-sm mr-1" role="status"
                                    aria-hidden="true"></span>
                                <span class="text">Capture</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>